<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>{{title}}</title>
</head>
<body>
    {{>header}}
    <img src="https://i.pinimg.com/736x/b1/4c/f2/b14cf22af5b706c80cda1f86e3cd8457.jpg" alt="Jason Statham">
    
    {{>footer}}
</body>
</html>