<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>{{title}}</title>
</head>
<body>
    {{>header}}
    <h3>Created by: {{ author }}</h3>
    {{>footer}}

    <form action="#" id="form1">
        <input type="text" id="address">
        <input type="submit" value="Search">
    </form>

    <div class="result">
        <p id="message"></p>
    </div>

    <script src="/js/main.js"></script>
</body>
</html>